@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(70vw, 24vh, 81px);
            transform: translate3d(70vw, 24vh, 81px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(70vw, 24vh, 81px);
            transform: translate3d(70vw, 24vh, 81px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.94;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  background-color: #8526d9;
  -webkit-transform: translate3d(6vw, 20vh, 4px);
          transform: translate3d(6vw, 20vh, 4px);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(24vw, 7vh, 26px);
            transform: translate3d(24vw, 7vh, 26px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(24vw, 7vh, 26px);
            transform: translate3d(24vw, 7vh, 26px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.18;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  background-color: #2641d9;
  -webkit-transform: translate3d(70vw, 39vh, 40px);
          transform: translate3d(70vw, 39vh, 40px);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(40vw, 88vh, 10px);
            transform: translate3d(40vw, 88vh, 10px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(40vw, 88vh, 10px);
            transform: translate3d(40vw, 88vh, 10px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.11;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  background-color: #d92c26;
  -webkit-transform: translate3d(70vw, 10vh, 25px);
          transform: translate3d(70vw, 10vh, 25px);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(40vw, 83vh, 22px);
            transform: translate3d(40vw, 83vh, 22px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(40vw, 83vh, 22px);
            transform: translate3d(40vw, 83vh, 22px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.9;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  background-color: #91d926;
  -webkit-transform: translate3d(76vw, 18vh, 33px);
          transform: translate3d(76vw, 18vh, 33px);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(68vw, 16vh, 76px);
            transform: translate3d(68vw, 16vh, 76px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(68vw, 16vh, 76px);
            transform: translate3d(68vw, 16vh, 76px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.06;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  background-color: #4d26d9;
  -webkit-transform: translate3d(51vw, 63vh, 2px);
          transform: translate3d(51vw, 63vh, 2px);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(15vw, 70vh, 22px);
            transform: translate3d(15vw, 70vh, 22px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(15vw, 70vh, 22px);
            transform: translate3d(15vw, 70vh, 22px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.57;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  background-color: #2674d9;
  -webkit-transform: translate3d(40vw, 71vh, 7px);
          transform: translate3d(40vw, 71vh, 7px);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(41vw, 88vh, 54px);
            transform: translate3d(41vw, 88vh, 54px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(41vw, 88vh, 54px);
            transform: translate3d(41vw, 88vh, 54px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.49;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  background-color: #d98026;
  -webkit-transform: translate3d(12vw, 35vh, 80px);
          transform: translate3d(12vw, 35vh, 80px);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(84vw, 17vh, 81px);
            transform: translate3d(84vw, 17vh, 81px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(84vw, 17vh, 81px);
            transform: translate3d(84vw, 17vh, 81px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.39;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  background-color: #2626d9;
  -webkit-transform: translate3d(1vw, 30vh, 96px);
          transform: translate3d(1vw, 30vh, 96px);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(83vw, 28vh, 83px);
            transform: translate3d(83vw, 28vh, 83px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(83vw, 28vh, 83px);
            transform: translate3d(83vw, 28vh, 83px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.46;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  background-color: #d9a926;
  -webkit-transform: translate3d(6vw, 89vh, 36px);
          transform: translate3d(6vw, 89vh, 36px);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(80vw, 51vh, 55px);
            transform: translate3d(80vw, 51vh, 55px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(80vw, 51vh, 55px);
            transform: translate3d(80vw, 51vh, 55px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.59;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  background-color: #cdd926;
  -webkit-transform: translate3d(8vw, 9vh, 100px);
          transform: translate3d(8vw, 9vh, 100px);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(12vw, 50vh, 86px);
            transform: translate3d(12vw, 50vh, 86px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(12vw, 50vh, 86px);
            transform: translate3d(12vw, 50vh, 86px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.83;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  background-color: #d9b526;
  -webkit-transform: translate3d(19vw, 68vh, 76px);
          transform: translate3d(19vw, 68vh, 76px);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(82vw, 46vh, 31px);
            transform: translate3d(82vw, 46vh, 31px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(82vw, 46vh, 31px);
            transform: translate3d(82vw, 46vh, 31px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.02;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  background-color: #d92c26;
  -webkit-transform: translate3d(82vw, 90vh, 26px);
          transform: translate3d(82vw, 90vh, 26px);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(32vw, 64vh, 15px);
            transform: translate3d(32vw, 64vh, 15px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(32vw, 64vh, 15px);
            transform: translate3d(32vw, 64vh, 15px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.89;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  background-color: #4726d9;
  -webkit-transform: translate3d(45vw, 33vh, 23px);
          transform: translate3d(45vw, 33vh, 23px);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(54vw, 14vh, 97px);
            transform: translate3d(54vw, 14vh, 97px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(54vw, 14vh, 97px);
            transform: translate3d(54vw, 14vh, 97px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.3;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  background-color: #af26d9;
  -webkit-transform: translate3d(17vw, 60vh, 95px);
          transform: translate3d(17vw, 60vh, 95px);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(8vw, 35vh, 94px);
            transform: translate3d(8vw, 35vh, 94px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(8vw, 35vh, 94px);
            transform: translate3d(8vw, 35vh, 94px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.48;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  background-color: #2671d9;
  -webkit-transform: translate3d(16vw, 62vh, 54px);
          transform: translate3d(16vw, 62vh, 54px);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(27vw, 49vh, 54px);
            transform: translate3d(27vw, 49vh, 54px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(27vw, 49vh, 54px);
            transform: translate3d(27vw, 49vh, 54px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.31;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  background-color: #26d93b;
  -webkit-transform: translate3d(15vw, 18vh, 92px);
          transform: translate3d(15vw, 18vh, 92px);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(75vw, 86vh, 33px);
            transform: translate3d(75vw, 86vh, 33px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(75vw, 86vh, 33px);
            transform: translate3d(75vw, 86vh, 33px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.61;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  background-color: #d9af26;
  -webkit-transform: translate3d(44vw, 67vh, 64px);
          transform: translate3d(44vw, 67vh, 64px);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(25vw, 47vh, 16px);
            transform: translate3d(25vw, 47vh, 16px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(25vw, 47vh, 16px);
            transform: translate3d(25vw, 47vh, 16px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.03;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  background-color: #7d26d9;
  -webkit-transform: translate3d(60vw, 24vh, 42px);
          transform: translate3d(60vw, 24vh, 42px);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(62vw, 56vh, 11px);
            transform: translate3d(62vw, 56vh, 11px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(62vw, 56vh, 11px);
            transform: translate3d(62vw, 56vh, 11px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.07;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  background-color: #80d926;
  -webkit-transform: translate3d(5vw, 41vh, 62px);
          transform: translate3d(5vw, 41vh, 62px);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(39vw, 20vh, 37px);
            transform: translate3d(39vw, 20vh, 37px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(39vw, 20vh, 37px);
            transform: translate3d(39vw, 20vh, 37px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.12;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  background-color: #50d926;
  -webkit-transform: translate3d(3vw, 26vh, 36px);
          transform: translate3d(3vw, 26vh, 36px);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(77vw, 89vh, 46px);
            transform: translate3d(77vw, 89vh, 46px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(77vw, 89vh, 46px);
            transform: translate3d(77vw, 89vh, 46px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.12;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  background-color: #d9262c;
  -webkit-transform: translate3d(25vw, 21vh, 48px);
          transform: translate3d(25vw, 21vh, 48px);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(23vw, 50vh, 29px);
            transform: translate3d(23vw, 50vh, 29px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(23vw, 50vh, 29px);
            transform: translate3d(23vw, 50vh, 29px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.52;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  background-color: #8826d9;
  -webkit-transform: translate3d(43vw, 10vh, 20px);
          transform: translate3d(43vw, 10vh, 20px);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(41vw, 65vh, 68px);
            transform: translate3d(41vw, 65vh, 68px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(41vw, 65vh, 68px);
            transform: translate3d(41vw, 65vh, 68px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.68;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  background-color: #26d92c;
  -webkit-transform: translate3d(7vw, 46vh, 40px);
          transform: translate3d(7vw, 46vh, 40px);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(14vw, 29vh, 43px);
            transform: translate3d(14vw, 29vh, 43px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(14vw, 29vh, 43px);
            transform: translate3d(14vw, 29vh, 43px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.38;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  background-color: #2694d9;
  -webkit-transform: translate3d(63vw, 66vh, 47px);
          transform: translate3d(63vw, 66vh, 47px);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(32vw, 61vh, 12px);
            transform: translate3d(32vw, 61vh, 12px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(32vw, 61vh, 12px);
            transform: translate3d(32vw, 61vh, 12px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.69;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  background-color: #d9a926;
  -webkit-transform: translate3d(23vw, 4vh, 99px);
          transform: translate3d(23vw, 4vh, 99px);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(6vw, 89vh, 62px);
            transform: translate3d(6vw, 89vh, 62px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(6vw, 89vh, 62px);
            transform: translate3d(6vw, 89vh, 62px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.45;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  background-color: #5926d9;
  -webkit-transform: translate3d(16vw, 9vh, 65px);
          transform: translate3d(16vw, 9vh, 65px);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(54vw, 57vh, 82px);
            transform: translate3d(54vw, 57vh, 82px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(54vw, 57vh, 82px);
            transform: translate3d(54vw, 57vh, 82px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.79;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  background-color: #26d985;
  -webkit-transform: translate3d(90vw, 88vh, 78px);
          transform: translate3d(90vw, 88vh, 78px);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(44vw, 89vh, 66px);
            transform: translate3d(44vw, 89vh, 66px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(44vw, 89vh, 66px);
            transform: translate3d(44vw, 89vh, 66px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.46;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  background-color: #d92685;
  -webkit-transform: translate3d(52vw, 85vh, 73px);
          transform: translate3d(52vw, 85vh, 73px);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(73vw, 36vh, 5px);
            transform: translate3d(73vw, 36vh, 5px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(73vw, 36vh, 5px);
            transform: translate3d(73vw, 36vh, 5px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.1;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  background-color: #2632d9;
  -webkit-transform: translate3d(21vw, 71vh, 47px);
          transform: translate3d(21vw, 71vh, 47px);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(24vw, 17vh, 74px);
            transform: translate3d(24vw, 17vh, 74px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(24vw, 17vh, 74px);
            transform: translate3d(24vw, 17vh, 74px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.73;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  background-color: #d9af26;
  -webkit-transform: translate3d(24vw, 57vh, 29px);
          transform: translate3d(24vw, 57vh, 29px);
}

@-webkit-keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(50vw, 62vh, 6px);
            transform: translate3d(50vw, 62vh, 6px);
  }
}

@keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(50vw, 62vh, 6px);
            transform: translate3d(50vw, 62vh, 6px);
  }
}

.particle:nth-child(31) {
  -webkit-animation: particle-animation-31 60s infinite;
          animation: particle-animation-31 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.02;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
  background-color: #d97a26;
  -webkit-transform: translate3d(43vw, 43vh, 26px);
          transform: translate3d(43vw, 43vh, 26px);
}

@-webkit-keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(2vw, 86vh, 2px);
            transform: translate3d(2vw, 86vh, 2px);
  }
}

@keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(2vw, 86vh, 2px);
            transform: translate3d(2vw, 86vh, 2px);
  }
}

.particle:nth-child(32) {
  -webkit-animation: particle-animation-32 60s infinite;
          animation: particle-animation-32 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.93;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  background-color: #d99726;
  -webkit-transform: translate3d(21vw, 82vh, 26px);
          transform: translate3d(21vw, 82vh, 26px);
}

@-webkit-keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(9vw, 41vh, 12px);
            transform: translate3d(9vw, 41vh, 12px);
  }
}

@keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(9vw, 41vh, 12px);
            transform: translate3d(9vw, 41vh, 12px);
  }
}

.particle:nth-child(33) {
  -webkit-animation: particle-animation-33 60s infinite;
          animation: particle-animation-33 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.1;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
  background-color: #d99a26;
  -webkit-transform: translate3d(50vw, 86vh, 42px);
          transform: translate3d(50vw, 86vh, 42px);
}

@-webkit-keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(48vw, 83vh, 50px);
            transform: translate3d(48vw, 83vh, 50px);
  }
}

@keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(48vw, 83vh, 50px);
            transform: translate3d(48vw, 83vh, 50px);
  }
}

.particle:nth-child(34) {
  -webkit-animation: particle-animation-34 60s infinite;
          animation: particle-animation-34 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.59;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  background-color: #26d938;
  -webkit-transform: translate3d(68vw, 78vh, 68px);
          transform: translate3d(68vw, 78vh, 68px);
}

@-webkit-keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(67vw, 14vh, 60px);
            transform: translate3d(67vw, 14vh, 60px);
  }
}

@keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(67vw, 14vh, 60px);
            transform: translate3d(67vw, 14vh, 60px);
  }
}

.particle:nth-child(35) {
  -webkit-animation: particle-animation-35 60s infinite;
          animation: particle-animation-35 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.44;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  background-color: #d96826;
  -webkit-transform: translate3d(53vw, 43vh, 76px);
          transform: translate3d(53vw, 43vh, 76px);
}

@-webkit-keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(75vw, 82vh, 3px);
            transform: translate3d(75vw, 82vh, 3px);
  }
}

@keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(75vw, 82vh, 3px);
            transform: translate3d(75vw, 82vh, 3px);
  }
}

.particle:nth-child(36) {
  -webkit-animation: particle-animation-36 60s infinite;
          animation: particle-animation-36 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.65;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  background-color: #bb26d9;
  -webkit-transform: translate3d(30vw, 61vh, 34px);
          transform: translate3d(30vw, 61vh, 34px);
}

@-webkit-keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(74vw, 58vh, 80px);
            transform: translate3d(74vw, 58vh, 80px);
  }
}

@keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(74vw, 58vh, 80px);
            transform: translate3d(74vw, 58vh, 80px);
  }
}

.particle:nth-child(37) {
  -webkit-animation: particle-animation-37 60s infinite;
          animation: particle-animation-37 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.71;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  background-color: #d98826;
  -webkit-transform: translate3d(72vw, 82vh, 75px);
          transform: translate3d(72vw, 82vh, 75px);
}

@-webkit-keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(79vw, 63vh, 80px);
            transform: translate3d(79vw, 63vh, 80px);
  }
}

@keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(79vw, 63vh, 80px);
            transform: translate3d(79vw, 63vh, 80px);
  }
}

.particle:nth-child(38) {
  -webkit-animation: particle-animation-38 60s infinite;
          animation: particle-animation-38 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.64;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  background-color: #d93e26;
  -webkit-transform: translate3d(1vw, 58vh, 99px);
          transform: translate3d(1vw, 58vh, 99px);
}

@-webkit-keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(63vw, 55vh, 11px);
            transform: translate3d(63vw, 55vh, 11px);
  }
}

@keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(63vw, 55vh, 11px);
            transform: translate3d(63vw, 55vh, 11px);
  }
}

.particle:nth-child(39) {
  -webkit-animation: particle-animation-39 60s infinite;
          animation: particle-animation-39 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.83;
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
  background-color: #d92662;
  -webkit-transform: translate3d(24vw, 83vh, 58px);
          transform: translate3d(24vw, 83vh, 58px);
}

@-webkit-keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(16vw, 77vh, 48px);
            transform: translate3d(16vw, 77vh, 48px);
  }
}

@keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(16vw, 77vh, 48px);
            transform: translate3d(16vw, 77vh, 48px);
  }
}

.particle:nth-child(40) {
  -webkit-animation: particle-animation-40 60s infinite;
          animation: particle-animation-40 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.5;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  background-color: #b2d926;
  -webkit-transform: translate3d(57vw, 66vh, 1px);
          transform: translate3d(57vw, 66vh, 1px);
}

@-webkit-keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(78vw, 23vh, 92px);
            transform: translate3d(78vw, 23vh, 92px);
  }
}

@keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(78vw, 23vh, 92px);
            transform: translate3d(78vw, 23vh, 92px);
  }
}

.particle:nth-child(41) {
  -webkit-animation: particle-animation-41 60s infinite;
          animation: particle-animation-41 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.57;
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
  background-color: #26d9af;
  -webkit-transform: translate3d(47vw, 71vh, 94px);
          transform: translate3d(47vw, 71vh, 94px);
}

@-webkit-keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(49vw, 75vh, 21px);
            transform: translate3d(49vw, 75vh, 21px);
  }
}

@keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(49vw, 75vh, 21px);
            transform: translate3d(49vw, 75vh, 21px);
  }
}

.particle:nth-child(42) {
  -webkit-animation: particle-animation-42 60s infinite;
          animation: particle-animation-42 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.17;
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
  background-color: #d9c726;
  -webkit-transform: translate3d(53vw, 80vh, 96px);
          transform: translate3d(53vw, 80vh, 96px);
}

@-webkit-keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(54vw, 79vh, 48px);
            transform: translate3d(54vw, 79vh, 48px);
  }
}

@keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(54vw, 79vh, 48px);
            transform: translate3d(54vw, 79vh, 48px);
  }
}

.particle:nth-child(43) {
  -webkit-animation: particle-animation-43 60s infinite;
          animation: particle-animation-43 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.35;
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
  background-color: #5cd926;
  -webkit-transform: translate3d(80vw, 39vh, 19px);
          transform: translate3d(80vw, 39vh, 19px);
}

@-webkit-keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(22vw, 56vh, 11px);
            transform: translate3d(22vw, 56vh, 11px);
  }
}

@keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(22vw, 56vh, 11px);
            transform: translate3d(22vw, 56vh, 11px);
  }
}

.particle:nth-child(44) {
  -webkit-animation: particle-animation-44 60s infinite;
          animation: particle-animation-44 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.35;
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
  background-color: #26d950;
  -webkit-transform: translate3d(22vw, 22vh, 87px);
          transform: translate3d(22vw, 22vh, 87px);
}

@-webkit-keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(8vw, 75vh, 79px);
            transform: translate3d(8vw, 75vh, 79px);
  }
}

@keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(8vw, 75vh, 79px);
            transform: translate3d(8vw, 75vh, 79px);
  }
}

.particle:nth-child(45) {
  -webkit-animation: particle-animation-45 60s infinite;
          animation: particle-animation-45 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.8;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  background-color: #d92671;
  -webkit-transform: translate3d(30vw, 88vh, 84px);
          transform: translate3d(30vw, 88vh, 84px);
}

@-webkit-keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(55vw, 66vh, 4px);
            transform: translate3d(55vw, 66vh, 4px);
  }
}

@keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(55vw, 66vh, 4px);
            transform: translate3d(55vw, 66vh, 4px);
  }
}

.particle:nth-child(46) {
  -webkit-animation: particle-animation-46 60s infinite;
          animation: particle-animation-46 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.8;
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
  background-color: #5026d9;
  -webkit-transform: translate3d(30vw, 40vh, 95px);
          transform: translate3d(30vw, 40vh, 95px);
}

@-webkit-keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(28vw, 67vh, 15px);
            transform: translate3d(28vw, 67vh, 15px);
  }
}

@keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(28vw, 67vh, 15px);
            transform: translate3d(28vw, 67vh, 15px);
  }
}

.particle:nth-child(47) {
  -webkit-animation: particle-animation-47 60s infinite;
          animation: particle-animation-47 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.59;
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
  background-color: #26d9c7;
  -webkit-transform: translate3d(46vw, 63vh, 53px);
          transform: translate3d(46vw, 63vh, 53px);
}

@-webkit-keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(65vw, 43vh, 67px);
            transform: translate3d(65vw, 43vh, 67px);
  }
}

@keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(65vw, 43vh, 67px);
            transform: translate3d(65vw, 43vh, 67px);
  }
}

.particle:nth-child(48) {
  -webkit-animation: particle-animation-48 60s infinite;
          animation: particle-animation-48 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.15;
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
  background-color: #2632d9;
  -webkit-transform: translate3d(17vw, 55vh, 48px);
          transform: translate3d(17vw, 55vh, 48px);
}

@-webkit-keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(78vw, 26vh, 65px);
            transform: translate3d(78vw, 26vh, 65px);
  }
}

@keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(78vw, 26vh, 65px);
            transform: translate3d(78vw, 26vh, 65px);
  }
}

.particle:nth-child(49) {
  -webkit-animation: particle-animation-49 60s infinite;
          animation: particle-animation-49 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.83;
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
  background-color: #26d959;
  -webkit-transform: translate3d(48vw, 57vh, 54px);
          transform: translate3d(48vw, 57vh, 54px);
}

@-webkit-keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(24vw, 72vh, 87px);
            transform: translate3d(24vw, 72vh, 87px);
  }
}

@keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(24vw, 72vh, 87px);
            transform: translate3d(24vw, 72vh, 87px);
  }
}

.particle:nth-child(50) {
  -webkit-animation: particle-animation-50 60s infinite;
          animation: particle-animation-50 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.62;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  background-color: #a9d926;
  -webkit-transform: translate3d(84vw, 8vh, 30px);
          transform: translate3d(84vw, 8vh, 30px);
}

.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.container {
  width: 50%;
  z-index: -1;
}

.image {
  height: 400px;
  width: 700px;
}

.home {
  padding-bottom: 650px;
}
/*# sourceMappingURL=particle.css.map */